# Dependências
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm

# Banco de Dados SQLite (ignora journals e backups)
*.sqlite
database.db-journal
database.db-wal
database.db-shm

# Arquivos Vercel
.vercel

# Uploads
uploads/

# Arquivos de Sistema Operacional
.DS_Store
Thumbs.db